.sheet {
  form {
    .cursor-click {
      cursor: pointer; 
    }

    .fa-trash {
      
    }

    input, select {
      background: none;
      border: 1px solid transparent;
    }

    table {
      margin: 0;
      border: 0;
      background: none;
      border-collapse: separate;
      border-spacing: 2px;

      td.table-line-img {
        width: 30px;
        height: 30px;

        img {
          border: 0;
        }
      }

      td.icon-trash {
        width: 15px;
      }
    }
    section.sheet-body {
      width: 100%;
      height: 100%;
    }
    .editor{
      width: 100%;
      height: 100%;
    }

    ul {
      margin-top: 0;
      padding: 0;
    }

    ul li {
      list-style: none;
      margin-left: 0;
    }

  }

  .for-logo-line {
    background-image: url("../assets/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 66px;
  }
  
  .hidden {
    display: none;
  }
}

.window-app .window-content {
  background-image:  url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'PT Sans';
}

.window-content .dialog-content {
  padding-top: 5px;
  background-image:  url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'PT Sans';

  .actor-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .actor-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .dialog-select-mofidy {

    margin-bottom: 5px;
    
    .actor-column {
      line-height: 25px;
      flex: 0 0 auto;
    }
    .actor-column:first-child {
      width: 70%;
      
      font-weight: bold;
    }
    .actor-column:last-child {
      width: 30%;
      select {
        width: 100%
      }
    }
    
  }

}

.cards-list {
  #context-menu {
    li {
      text-align: left;
      font-size: 16px;
    }
  }
}